<h1><center>Delete this user!!</center></h1>
<br>
<br>
<p><h3>If you wish to delete your account & everything associated with it, check the box below & click the Delete button.</h3></p>
<br>
<a href='/home'>Return Home</a><br>
<br>
<br>
<form action='' method=''>
  <p><input type='checkbox' name='delete_acct'> I understand that this will permanently delete all my information & will be unrecoverable.</p>
  <p><input type='submit' value='DELETE'></p>
</form>