<h1><center>Welcome, <%= @user.username %>!!</center></h1>
<br>
<p><a href='/home'>Return Home</a></p>
<p><a href='/list/index'>Show all of your PackLists</a></p>
<p><a href='/list/new'>Create a new list</a></p>
<p><a href='/logout'>Logout</a></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p><a style="color:#d84e36;" href='/user/delete'>Delete your account</a></p>