<h1><center>User's home page</center></h1>
<br>
<p><a href='/home'>Return Home</a></p>
<p><a href='/lists/index'>Show all of your PackLists</a></p>
<p><a href='/lists/new'>Create a new list</a></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p><a href='/user/delete'>Delete your account</p>