<h1><center>Login here!</center></h1>
<br>
<form action='/login' method='post'>
  <p><input type='text' id='username' name='username' placeholder='Username'></p>
  <p><input type='password' id='password' name='password' placeholder='Password'></p>
  <p><input type='submit' value='Log In!'></p>
</form>