<%# Copyright 2019, Ryan Sise

This file is part of PackList Pandemonium.

PackList Pandemonium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PackList Pandemonium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PackList Pandemonium.  If not, see <https://www.gnu.org/licenses/>. %>

<h1><center>Signup Page</center></h1>
<br>
<h4>To start using PackList, fill out the simple form below.</h4>
<br>
<br>
<form action='/signup' method='post'>
  <p><input type='text' id='username' name='username' placeholder='Username'></p>
  <p><input type='password' id='password' name='password' placeholder='Password'></p>
  <p><input type='submit' value='Signup!'></p>
<form>