<h1><center>Signup Page</center></h1>
<br>
<form action='/signup' method='post'>
  <p><input type='text' id='username' name='username' placeholder='Username'></p>
  <p><input type='password' id='password' name='password' placeholder='Password'></p>
  <p><input type='submit' value='Signup!'></p>
<form>