<p>========General========</p>
<input type='checkbox' name='item[identification]'>Identification<br>
<input type='checkbox' name='item[insurance]'>Insurance<br>
<input type='checkbox' name='item[tickets]'>Tickets<br>
<input type='checkbox' name='item[emergency_contacts]'>Emergency contacts<br>
<input type='checkbox' name='item[reservation_docs]'>Reservation doc's<br>
<br>
<p>========Electronics========</p>
<input type='checkbox' name='item[mobile_phone]'>Mobile phone<br>
<input type='checkbox' name='item[charging_cables]'>Charging cables<br>
<input type='checkbox' name='item[tablet]'>Tablet<br>
<input type='checkbox' name='item[laptop]'>Laptop<br>
<input type='checkbox' name='item[mp3_player]'>MP3 player<br>
<input type='checkbox' name='item[e_book_reader]'>E-book Reader<br>
<input type='checkbox' name='item[extra_batteries]'>Extra batteries<br>
<br>
<p>========Camping========</p>
<input type='checkbox' name='item[compass]'>Compass<br>
<input type='checkbox' name='item[map]'>Map<br>
<input type='checkbox' name='item[tent]'>Tent<br>
<input type='checkbox' name='item[tent_poles]'>Tent poles<br>
<input type='checkbox' name='item[tent_stakes]'>Tent stakes<br>
<input type='checkbox' name='item[insect_repellant]'>Insect repellant<br>
<input type='checkbox' name='item[epi_pen]'>Epi pen<br>
<input type='checkbox' name='item[cooler]'>Cooler<br>
<input type='checkbox' name='item[snacks]'>Snacks<br>
<input type='checkbox' name='item[coffee]'>Coffee<br>
<br>
<p>========Toiletries========</p>
<input type='checkbox' name='item[toothbrush]'>Toothbrush<br>
<input type='checkbox' name='item[toothpaste]'>Toothpaste<br>
<input type='checkbox' name='item[medications]'>Medications<br>
<input type='checkbox' name='item[deodorant]'>Deodorant<br>
<input type='checkbox' name='item[sunscreen]'>Sunscreen<br>
<input type='checkbox' name='item[soap]'>Soap<br>
<input type='checkbox' name='item[first_aid_kit]'>First-aid kit<br>
<br>
<p>========Clothing========</p>
<input type='checkbox' name='item[shirts]'>Shirts<br>
<input type='checkbox' name='item[pants]'>Pants<br>
<input type='checkbox' name='item[shorts]'>Shorts<br>
<input type='checkbox' name='item[jacket]'>Jacket<br>
<input type='checkbox' name='item[hat]'>Hat<br>
<input type='checkbox' name='item[sunglasses]'>Sunglasses<br>
<input type='checkbox' name='item[shoes]'>Shoes<br>
<input type='checkbox' name='item[sandals]'>Sandals<br>
<input type='checkbox' name='item[sleepwear]'>Sleepwear<br>
<input type='checkbox' name='item[dress]'>Dress<br>
<input type='checkbox' name='item[laundry_bag]'>Laundry bag<br>
<input type='checkbox' name='item[belts]'>Belts<br>

<br>
<input type='submit' value='Create List'>