<p>========General========</p>
<input type='checkbox' name='item[sunglasses]'>Sunglasses<br>
<input type='checkbox' name='item[sunscreen]'>Sunscreen<br>
<input type='checkbox' name='item[paperwork]'>Paperwork(IDs, insurance, tickets<br>
<p>========Electronics========</p>
<input type='checkbox' name='item[mobile_phone]'>Mobile phone<br>
<input type='checkbox' name='item[charging_cables]'>Charging cables<br>
<input type='checkbox' name='item[tablet]'>Tablet<br>
<input type='checkbox' name='item[laptop]'>Laptop<br>
<input type='checkbox' name='item[mp3_player]'>MP3 player<br>

<br>
<input type='submit' value='Create List'>