<%# Copyright 2019, Ryan Sise

This file is part of PackList Pandemonium.

PackList Pandemonium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PackList Pandemonium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PackList Pandemonium.  If not, see <https://www.gnu.org/licenses/>. %>

<h2>Welcome, fellow PackListers!</h2>

  <h4>Here on PackList Pandemonium, you can create a variety of packing lists...from road trips, to camping, to emergency go-bags, and everything in between!</h4>
  <br>
  <br>
  <p>To start creating your own lists, click the signup button below.</p>
  <form action='/signup'>
    <input type='submit' id='signup' value='signup'>
  </form>
  <br>
  <br>
  <br>
  <p>If you already have an account with us, click below to login!</p>
  <form action='/login'>
    <input type='submit' id='login' value='login'>
  </form>