<h1>Deletion not processed</h1>
<br>
<br>
<br>
<h3>You must check the checkbox to verify your intent to delete the list.</h3>
<br>
<br>
<br>
<a href='/home'>Return Home</a>
<br>
<br>
<a href='/logout'>Logout</a>