<h1><center>All of your PackLists</center></h1>
<br>
<br>
<a href='/home'>Return Home</a>
<br>
<br>
<ul>
  <% @lists.each do |item| %>
    <li><a href='/list/<%=item.id%>'><%= item.name %></a></li>
  <%end%>
</ul>