<h1><center>Create a new PackList!</center></h1>
<br>
<a href='/home'>Return Home</a><br>
<br>
<form action='/list/new' method='post'>
  <input type='text' id='list_name' name='name' placeholder='List Name'><br>
  <br>
  <%=erb :'/base_list'%>
  <br>
  <input type='submit' value='Create List'>
</form>